body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 1% 5%;
    background-color:E6F7FF;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}


.box {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 1em;
    border-width: 0em;
    border-style: solid;
    margin-left: .7em;
    padding: .7em .7em .7em .7em;
    margin-bottom: .9em;
    margin-top: .9em;
}

h1 {
    color:black;
    margin: 0.4em;
    display: block;
}

h2 {
    color: black;
    font-size: 1em;
    margin: 0.2em;
}

h3 {
    color: black;
    font-size: 0.8em;
    margin: 0.1em;
    padding-left: 2em;
}

ul {
    margin: 0em 0em .3em 0em;
    list-style-type: square;
    padding-left: 3em;
    font-size: small;
}

div{
    font-size: 1em;
    padding-left:3em ;
}